.page-block--title{
    font-family: 'Sen-Bold';
    font-size: 38px;

    color: #232536;

    border-bottom: 1px solid #6D6E76;
    padding-bottom: 25px;
}

.all-blog-posts{
    padding-top: 55px;
}

.all-blog-posts--previews{
    padding: 25px 0;

    display: grid;
    gap: 25px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-only(md){
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-only(sm){
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-only(xs){
        grid-template-columns: 1fr;
    }

    >li{
        // margin: 25px 0 25px 0;

        // &:first-child{
        //     margin: 0 0 25px 0;
        // }

        // &:last-child{
        //     margin: 25px 0 0 0;
        // }

        // &:only-child{
        //     margin: 0 0 0 0;
        // }
    }
}

.all-blog-posts--preview{
    display: grid;
    grid-template-columns: 400px 1fr;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg){
        display: block;
    }

    >.c1{}

    >.c2{
        padding-left: 30px;
        align-self: center;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            padding-left: 0;
            padding-top: 15px;
        }
    }
}

.all-blog-posts--img{
    display: block;
    max-width: 100%;
}

.all-blog-posts--article{

    >.category{}

    >.title{
        padding: 10px 0;
    }

    >.text{

        p{
            margin: 0;
            padding: 0;
            color: #6D6E76;
            font-size: 14px;
        }
    }

    .category-link{
        font-size: 16px;
        text-transform: uppercase;
        color: #592EA9;
        
        &:hover{
            color: #ffd050;
        }

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            font-size: 14px;
        }
    }

    .post-link{
        color: #232536;

        &:hover{
            color: #ffd050;
        }

        h2{
            margin: 0;
            padding: 0;
            font-size: 32px;

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            // @include media-breakpoint-only(xs) {}

            @include media-breakpoint-only(md){
                font-size: 25px;
            }

            @include media-breakpoint-only(sm){
                font-size: 22px;
            }

            @include media-breakpoint-only(xs){
                font-size: 20px;
            }
        }
    }
}