.footer-social{
    display: flex;
    flex-direction: row;

    >.item{
        margin: 0 5px 0 5px;

        &:first-child{
            margin: 0 5px 0 0;
        }

        &:last-child{
            margin: 0 0 0 5px;
        }

        &:only-child{
            margin: 0 0 0 0;
        }

        >.link{
            color: #6d6e76;
            font-size: 18px;

            &:hover{
                color: #ffd050;
            }
        }
    }
}