.img-slider {
    position: relative;
}

.img-slider--sections {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;

    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "top top top"
        "left center right"
        "bottom bottom bottom";

    .top {
        grid-area: top;
    }

    .left {
        grid-area: left;
        align-self: center;
    }

    .center {
        grid-area: center;
    }

    .right {
        grid-area: right;
        align-self: center;
    }

    .bottom {
        grid-area: bottom;
        justify-self: center;
    }
}

.img-slider--slides {
    position: relative;

    .slide {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: auto;

        opacity: 0;
        transition: opacity 4s ease;

        display: block;
        max-width: 100%;
    }

    .active {
        position: static;
        opacity: 1;
    }

    .na {
        transition: none;
    }
}

.img-slider--miniatures {
    padding: 10px 0;

    display: flex;
    flex-direction: row;

    .miniature {
        width: 15px;
        height: 15px;

        background-color: #FFFFFF;
        border-radius: 50%;

        cursor: pointer;

        margin: 0 5px 0 5px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(md) {
            width: 10px;
            height: 10px;
        }

        &:first-child {
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0 0 0 5px;
        }

        &:hover {
            background-color: #FFD050;
        }
    }

    .active {
        background-color: #FFD050;
    }
}

.img-slider--nav-btn {
    padding: 0 15px;

    button {
        margin: 0;
        padding: 0;
        background: none;
        border: 1px solid #FFD050;
        border-radius: 50%;

        width: 35px;
        height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(md) {
            width: 25px;
            height: 25px;
        }

        i {
            color: #FFD050;
            font-size: 18px;
            line-height: 0;

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            // @include media-breakpoint-only(xs) {}

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }

        &:hover {
            background-color: #FFD050;

            i {
                color: #000000;
            }
        }
    }
}