.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
}

.main-menu{
    display: flex;
    flex-direction: row;

    .item{
        margin: 0 5px 0 5px;

        &:first-child{
            margin: 0 5px 0 0;
        }

        &:last-child{
            margin: 0 0 0 5px;
        }

        &:only-child{
            margin: 0 0 0 0;
        }

        .link{
            color: #ffffff;

            &:hover{
                color: #ffd050;
            }
        }
    }
}