.mobile-menu-btn{
    cursor: pointer;

    >.container{
        width: 30px;
        height: 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >.line{
            height: 2px;
            background-color: #ffffff;
        }
    }
}