.two-columns{
    display: grid;
    grid-template-columns: 1fr 300px;

    padding: 55px 0;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg){
        display: block;
    }

    >.main{
        padding-right: 75px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            padding-right: 0;
        }
    }

    >.aside{
        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            display: none;
        }
    }
}

// aside
.aside-block--title{
    padding-bottom: 25px;

    font-family: 'Sen-Bold';
    font-size: 16px;

    color: #232536;
}

.aside-nav{}

.aside-menu{

    >.item{
        margin: 10px 0 10px 0;

        >.link{

            &:hover{

                .aside-menu--item{
                    border: 1px solid #FFD050;
                    background-color: #FFD050;
                }
            }
        }

        >.active{

            .aside-menu--item{
                border: 1px solid #FFD050;
                background-color: #FFD050;
            }
        }
    }
}

.aside-menu--item{
    height: 90px;
    border: 1px solid #C1C1C3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sen-Bold';
    font-size: 16px;

    color: #232536;
}