<footer class="g footer">
    <div class="container">
        <div class="footer-grid">
            <div class="c1">
                <div class="footer-logo">Slider</div>
            </div>

            <div class="c2">
                <nav class="footer-nav">
                    <ul class="footer-menu">
                        <li class="item">
                            <a href="./about.html" class="link">About</a>
                        </li>

                        <li class="item">
                            <a href="./docs.html" class="link">Docs</a>
                        </li>

                        <li class="item">
                            <a href="./blog.html" class="link">Blog</a>
                        </li>

                        <li class="item">
                            <a href="./contacts.html" class="link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="c3">
                <div class="footer-subscribe">
                    <div class="container">
                        <div class="c1">
                            <div class="subscribe-message">
                                <span class="t">Subscribe to our news letter to get latest updates and news</span>
                            </div>
                        </div>

                        <div class="c2">
                            <form action="#" class="footer-subscribe-form">
                                <div class="fields">
                                    <div class="footer-subscribe-form--field">
                                        <div class="r">
                                            <div class="footer-subscribe-form--label">
                                                <div class="c1">
                                                    <label for="">Name:</label>
                                                </div>

                                                <div class="c2">
                                                    <div class="error">error</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="r">
                                            <input name="name" class="footer-subscribe-form--input" type="text"
                                                placeholder="Enter Your Name">
                                        </div>
                                    </div>

                                    <div class="footer-subscribe-form--field">
                                        <div class="r">
                                            <div class="footer-subscribe-form--label">
                                                <div class="c1">
                                                    <label for="">Email:</label>
                                                </div>

                                                <div class="c2">
                                                    <div class="error">error</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="r">
                                            <input name="email" class="footer-subscribe-form--input" type="text"
                                                placeholder="Enter Your Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="submit">
                                    <input class="footer-subscribe-form--submit" type="submit" value="Subscribe">
                                </div>
                            </form>
                        </div>
                    </div>

                    {{!-- classList: d a --}}
                    {{!-- display: block | opacity: 1 --}}
                    <div class="footer-subscribe-preloader d a">
                        <div class="footer-subscribe--preloader">
                            <div class="container">
                                <ul class="preloader-modes">

                                    {{!-- classList: on --}}
                                    {{!-- display: block --}}
                                    <li class="mode sending on">
                                        <div class="preloader-mode">
                                            <div class="loadingio-spinner-spinner-go6ip63iaz">
                                                <div class="ldio-m9d4numlatn">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="mode success">
                                        <div class="preloader-mode">
                                            <div class="title">Success!</div>

                                            <div class="message">
                                                <p>The subscribe request has sent</p>
                                                <p>Check your email and confirm your subscription</p>
                                            </div>

                                            <div class="close">
                                                <button>Close</button>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="mode error">
                                        <div class="preloader-mode">
                                            <div class="title">Error!</div>

                                            <div class="message">
                                                <p>Looks like server error!</p>
                                            </div>

                                            <div class="link">
                                                <div class="preload-mode--link">
                                                    <span class="t">Visit <a href="" class="">Contacts</a> page</span>
                                                </div>
                                            </div>

                                            <div class="close">
                                                <button>Close</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c4">
                <div class="footer-copyright">
                    <span class="copy">&#169;</span>
                    <span class="text">Slider 2024</span>
                </div>
            </div>

            <div class="c5">
                <ul class="footer-social">
                    <li class="item">
                        <a href="" class="link">
                            <i class="icon-github"></i>
                        </a>
                    </li>

                    <li class="item">
                        <a href="" class="link">
                            <i class="icon-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>