<header class="header-fixed">
    <div class="container">
        <div class="g header">
            <div class="container">
                <div class="header-cols">
                    <a href="/" class="logo-link">Slider</a>

                    <div class="c1">
                        <nav class="main-nav">
                            <ul class="main-menu">
                                <li class="item">
                                    <a href="" class="link">About</a>
                                </li>

                                <li class="item">
                                    <a href="" class="link">Docs</a>
                                </li>

                                <li class="item">
                                    <a href="" class="link">Blog</a>
                                </li>

                                <li class="item">
                                    <a href="" class="link">Contacts</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="c2">
                        <a href="http://github.com" class="repository-link">
                            <i class="icon-github"></i>
                        </a>
                    </div>

                    <div class="c3">
                        <div id="mmbtn" class="mobile-menu-btn">
                            <div class="container">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>