<div class="mobile-menu-overlay">
    <div class="mobile-menu-panel">
        <div class="container">
            <div class="header">
                <div class="mobile-manu-panel-columns">
                    <div class="col-1">
                        <div class="mobile-manu-panel-title">
                            <div class="title">Menu</div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="col-2">
                        <div class="mobile-manu-panel-close">
                            <button class="close">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="mobile-nav-list">
                    <nav class="mobile-nav">
                        <div class="title">Main menu</div>

                        <ul class="mobile-menu">
                            <li class="item">
                                <a href="/" class="link">Home</a>
                            </li>

                            <li class="item">
                                <a href="./about.html" class="link">About</a>
                            </li>

                            <li class="item">
                                <a href="./docs.html" class="link">Docs</a>
                            </li>

                            <li class="item">
                                <a href="./blog.html" class="link">Blog</a>
                            </li>

                            <li class="item">
                                <a href="./contacts.html" class="link">Contacts</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="mobile-nav">
                        <div class="title">Blog</div>

                        <ul class="mobile-menu">
                            <li class="item">
                                <a href="" class="link">News</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>