.contacts-form {
    
    // for preloader
    position: relative;

    >.form {

        >.submit {
            padding-top: 10px;
        }
    }

    >.form-preloader-overlay {}
}

.contacts-form--submit {
    margin: 0;
    padding: 0;

    border: none;
    display: block;

    width: 100%;
    height: 50px;

    background-color: #FFD050;

    font-family: "Sen-Bold";
    font-size: 16px;
    color: #232536;

    cursor: pointer;

    &:hover {
        background-color: #EDC14A;
    }
}

.contacts-form-fields {
    display: grid;
    gap: 10px;

    >.field {}
}

.contacts-form--field {
    position: relative;

    .input {
        margin: 0;
        padding: 14px 10px;
        outline: none;

        box-sizing: border-box;

        border: 1px solid #6D6E76;
        border-radius: 4px;

        display: block;
        width: 100%;

        color: #232536;
        font-size: 14px;

        &:focus {
            border: 1px solid #EDC14A;
        }
    }

    .textarea {
        margin: 0;
        padding: 14px 10px;
        outline: none;
        resize: none;

        box-sizing: border-box;

        border: 1px solid #6D6E76;
        border-radius: 4px;

        display: block;
        width: 100% !important;
        min-height: 200px !important;

        color: #232536;
        font-size: 14px;

        &:focus {
            border: 1px solid #FFD050;
        }
    }

    .error {
        font-size: 11px;
        color: #FF7777;

        position: absolute;
        top: 1px;
        right: 5px;
        bottom: auto;
        left: auto;
    }
}