.blog-category--columns{
    display: grid;
    grid-template-columns: 1fr 300px;

    padding: 55px 0;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg){
        display: block;
    }

    >.main{
        padding-right: 75px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            padding-right: 0;
        }
    }

    >.aside{
        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            display: none;
        }
    }
}

.blog-category-previews{
    display: grid;
    gap: 25px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-only(md){
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-only(sm){
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-only(xs){
        grid-template-columns: 1fr;
    }
}

.blog-category-preview{
    display: grid;
    grid-template-columns: 250px 1fr;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg){
        display: block;
    }

    >.c1{
        overflow: hidden;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            overflow: auto;
        }
    }

    >.c2{
        align-self: center;
        padding-left: 25px;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg){
            padding-left: 0;
        }
    }
}

.blog-category--img{
    display: block;
    height: 300px;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg){
        height: auto;
        max-width: 100%;
    }
}

.blog-category--article{

    >.title{}

    >.text{

        p{
            font-size: 14px;
            color: #6D6E76;
        }
    }

    .post-link{
        color: #232536;

        &:hover{
            color: #ffd050;
        }
        
        h2{
            font-size: 18px;

            // @include media-breakpoint-only(xxl) {}

            // @include media-breakpoint-only(xl) {}

            // @include media-breakpoint-only(lg) {}

            // @include media-breakpoint-only(md) {}

            // @include media-breakpoint-only(sm) {}

            // @include media-breakpoint-only(xs) {}

            @include media-breakpoint-only(md){
                font-size: 25px;
            }

            @include media-breakpoint-only(sm){
                font-size: 22px;
            }

            @include media-breakpoint-only(xs){
                font-size: 20px;
            }
        }
    }
}

// aside
.aside-block--title{
    padding-bottom: 25px;

    font-family: 'Sen-Bold';
    font-size: 16px;

    color: #232536;
}

.blog-category-nav{}

.blog-category-menu{

    >.item{
        margin: 10px 0 10px 0;

        >.link{

            &:hover{

                .blog-category--item{
                    border: 1px solid #FFD050;
                    background-color: #FFD050;
                }
            }
        }

        >.active{

            .blog-category--item{
                border: 1px solid #FFD050;
                background-color: #FFD050;
            }
        }
    }
}

.blog-category--item{
    height: 90px;
    border: 1px solid #C1C1C3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sen-Bold';
    font-size: 16px;

    color: #232536;
}