@font-face {
    font-family: 'Sen-Regular';
    src: url('./fonts/sen/Sen-Regular.ttf');
}

@font-face {
    font-family: 'Sen-Bold';
    src: url('./fonts/sen/Sen-Bold.ttf');
}

@font-face {
    font-family: 'Sen-Medium';
    src: url('./fonts/sen/Sen-Medium.ttf');
}