@import './scss/settings/variables';
@import './scss/settings/breakpoints';
@import './scss/settings/reset';

// fonts and icon-fonts
@import './scss/fonts/fonts';
@import './scss/fonts/icons';

// layout
@import './scss/layout/layout';
@import './scss/layout/mobile-menu';
@import './scss/layout/article';

// header
@import './scss/layout/header/header';
@import './scss/layout/header/main-nav';
@import './scss/layout/header/mobile-menu-btn';

// content
@import './scss/layout/content/content';
@import './scss/layout/content/slider';

// footer
@import './scss/layout/footer/footer';
@import './scss/layout/footer/footer-nav';
@import './scss/layout/footer/footer-social';
@import './scss/layout/footer/subscribe/subscribe';

// page blocks
// homepage
@import './scss/layout/content/pages/homepage/blog';

// about
@import './scss/layout/content/pages/about/about';

// docs
@import './scss/layout/content/pages/docs/docs';

// blog
@import './scss/layout/content/pages/blog/index/all-blog-posts';
@import './scss/layout/content/pages/blog/category/blog-category';
@import './scss/layout/content/pages/blog/post/blog-post';

// contacts
@import './scss/layout/content/pages/contacts/titles';
@import './scss/layout/content/pages/contacts/list';
@import './scss/layout/content/pages/contacts/form';

// preloader
@import './scss/layout/preloader';

.d{
    display: block;
}

.a{
    opacity: 1;
}

.scroll-off {
    overflow: hidden;
}